{% extends 'auth/app.html' %}

{% load static %}

{% block title %}
Login
{% endblock title %}


{% block container %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="auth-container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message.tags }}!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <h3>Login</h3>
            <hr>
            <form action="{% url 'auth.login_submit' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <div class="d-flex justify-content-center">
                    <p>I'm new user <a href="{% url 'auth.signup' %}">SignUp</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock container %}